name: Checkov
on:
  pull_request:
  push:
    branches: [main, master]
jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - aws-security-hub-opsgenie
          - billing
          - dashboard
          - eventbridge
          - sns_to_lambda
    permissions: write-all
    steps:
    - uses: dasmeta/reusable-actions-workflows/checkov@main
      with:
        fetch-depth: 0
        directory: modules/${{ matrix.path }}
      continue-on-error: true
